@model WebApplication1.Models.ColourPreference

<div class="form-group">
    @Html.HiddenFor(model => model.ColourId)
    @Html.LabelFor(model => model.Favourite, Model.ColourName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.CheckBoxFor(model => model.Favourite)
        </div>
    </div>
</div>